@use 'vars';
@use 'breakpoints' as *;

.content-card {
    position: relative;
    z-index: 2;
    margin-bottom: 48px;
    max-width: 400px;
    color: #000;
    background-color: transparent;
    padding: 32px 0 32px 32px;

    .content-card-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.12s;
        z-index: -1;
        
        .content-card-corner-top {
            transform: rotate(180deg) scale(0.7);
            opacity: 0.5;
            transition: transform 0.15s, opacity 0.15s;
        }

        .content-card-corner-bottom {
            transform: rotate(90deg) scale(0.7);
            opacity: 0.5;
            transition: transform 0.15s, opacity 0.15s;
        }

        .fill-container {
            flex: 1 0 100%;
            height: calc(100% - 48px);
        }

        .content-card-arrow {
            transform: translateY(-3px);
            opacity: 0.5;
            transition: transform 0.15s, opacity 0.15s;
        }
    }

    &.no-link {
        .content-card-arrow {
            display: none;
        }
    }


    &:not(.no-link):hover {
        .content-card-frame {
            transform: scale(0.96);
        }

        .content-card-corner-top {
            transform: rotate(180deg) scale(1);
            opacity: 1;
        }

        .content-card-corner-bottom {
            transform: rotate(90deg) scale(1);
            opacity: 1;
        }

        .content-card-arrow {
            transform: rotate(-45deg);
            opacity: 1;
        }
    }

    .content-card-image-container {
        width: 100%;
        overflow: hidden;

        @media (max-width: $tablet) {
        }

        @media (max-width: $mobile) {
        }

        .content-card-image {
            width: 100%;
            height: 100%;
            max-width: 400px;
            object-fit: cover;
            object-position: center;
        }
    }

    .content-card-label {
        display: inline-block;
        padding: 4px 8px;
        border: 1px solid #000;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 500;
    }

    h3 {
        margin: 16px 0;
    }

    h4 {
        margin-bottom: 0;
    }
}

@media (max-width: $tablet) {
    .content-card {
        margin-bottom: 32px;
    }

}

@media (max-width: $mobile) {
    .content-card {
        margin-bottom: 24px;
    }
}