@use 'vars';
@use 'breakpoints' as *;




* {
    box-sizing: border-box;
    font-family: 'ClashDisplay-Variable', sans-serif;
}

body.mobile-menu-open .view-container * {
    color: transparent !important;
    text-shadow: none !important;
}

.main-visual {
    position: absolute;
    width: 100vw;
    max-width: 2770px;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 0;
    // width: calc(100vw + 490px);
    max-width: 2770px;
    height: 100%;
    background-image: image-set(
        '../assets/background/bg.webp' 1x,
        '../assets/background/bg@2x.webp' 2x,
        '../assets/background/bg@3x.webp' 3x
    );
    background-repeat: no-repeat;
    background-size: 3003px auto;
    transition: background-position 0.5s ease-in-out;
    transform: translateZ(0);

    @media (max-width: $desktop) {
        background-image: image-set(
            '../assets/background/bg-s.webp' 1x,
            '../assets/background/bg-s@2x.webp' 2x,
            '../assets/background/bg-s@3x.webp' 3x
        );
        background-size: 1330px auto;
    }

    @media (max-width: $mobile) {
        background-image: image-set(
            '../assets/background/bg-xs.webp' 1x,
            '../assets/background/bg-xs@2x.webp' 2x,
            '../assets/background/bg-xs@3x.webp' 3x
        );
        background-size: 780px auto;
    }
}

nav {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 8px;
    overflow: hidden;

    // @media (max-width: $desktop) {
    //     padding: 20px 24px;
    //     height: 100px;
    // }

    @media (max-width: $mobile) {
        align-items: center;
        padding: 16px 16px 16px 0;
    }

    .logo-link {
        display: block;
        text-decoration: none;
        padding: 4px 16px;
    }

    .logo {
        width: 81px;
        height: 87px;
        display: block;

        // @media (max-width: $tablet) {
        //     width: 70px;
        //     height: 75px;
        // }

        @media (max-width: $mobile) {
            width: 60px;
            height: 65px;
        }
    }
}

#view {
    height: 100%;
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

}

section {
    width: 100%;
    margin: 0 auto;
}

section.white-background {
    width: calc(100% - 150px);
    background: white;
    color: black;
    padding: 132px 88px 132px 132px;
    margin-top: 150px;
    margin-left: 150px;

    @media (max-width: $desktop) {
        width: calc(100% - 96px);
        margin-left: 96px;
        padding: 132px 24px 132px 48px;
    }

    @media (max-width: $tablet) {
    }

    @media (max-width: $mobile) {
        width: calc(100% - 16px);
        margin-left: 16px;
        padding: 48px 16px 48px 16px;
    }

    h1.subheader {
        width: 70%;
        margin-bottom: 96px;
    }
}


.footer-visual {
    height: 280px;
}


h1.intro {
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 32px;

    @media (max-width: $mobile) {
        font-size: 40px;
    }
}

h1.subheader {
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;

    @media (max-width: $mobile) {
        font-size: 24px;
        line-height: 28px;
    }
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 17px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

img {
    filter: grayscale(100%);
}

/* Flexbox Utility Classes */

.flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
}

.no-wrap {
    white-space: nowrap;
}

.relative {
    position: relative;
}

.flex-fill-half {
    flex: 1 1 50%;
}

@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Variable.woff') format('woff'),
        url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: block;
    font-style: normal;
}
