@use 'breakpoints' as *;

img.glass-1 {
    position: absolute;
    top: 610px;
    left: 873px;
    width: 608px;
    z-index: 1;

    @media (max-width: $large-desktop) {
        width: 526px;
        left: 749px;
    }

    @media (max-width: $tablet) {
        left: 625px;
    }

    @media (max-width: $mobile) {
        top: 590px;
        left: 168px;
        width: 306px;
    }
}

img.glass-2 {
    position: absolute;
    top: 123px;
    left: 1247px;
    width: 329px;
    z-index: 3;

    @media (max-width: $xlarge-desktop) {
        left: 1181px;
    }

    @media (max-width: $large-desktop) {
        left: 1051px;
    }

    @media (max-width: $mobile) {
        top: 163px;
        left: 500px;
        width: 152px;
    }

}

img.glass-3 {
    position: absolute;
    top: 45px;
    left: 800px;
    width: 283px;
    z-index: 1;

    @media (max-width: $large-desktop) {
        left: 633px;
    }

    @media (max-width: $large-desktop) {
        top: 75px;
        width: 253px;
    }

    @media (max-width: $mobile) {
        left: 90px;
        width: 169px;
    }
}

img.glass-4 {
    position: absolute;
    top: 810px;
    left: 110px;
    width: 138px;
    z-index: 1;

    @media (max-width: $mobile) {
        top: 780px;
        left: 10px;
        width: 100px;
    }

}

img.glass-5 {
    position: absolute;
    top: 875px;
    left: 1516px;
    width: 449px;
    z-index: 1;

    @media (max-width: $large-desktop) {
        top: 840px;
        left: 1036px;
        width: 409px;
    }

    @media (max-width: $mobile) {
        width: 202px;
        top: 867px;
        left: 250px;
    }
}

img.glass-6 {
    position: absolute;
    top: 1400px;
    left: 25px;
    width: 259px;
    z-index: 3;

    @media (max-width: $xxlarge-desktop) {
        left: 0px;
        width: 196px;
    }
    
    @media (max-width: $xlarge-desktop) {
        left: -8px;
        width: 185px;
    }

    @media (max-width: $large-desktop) {
        top: 1528px;
        width: 174px;
    }

    @media (max-width: $desktop) {
        width: 174px;
    }

    @media (max-width: $tablet) {
        width: 124px;
        z-index: 1;
    }

    @media (max-width: $mobile) {
        top: 1565px;
        width: 124px;
    }

    @media (max-width: $small-mobile) {
        width: 124px;
    }
}

img.glass-7 {
    position: absolute;
    bottom: -205px;
    left: 1149px;
    width: 298px;
    z-index: 1;

    @media (max-width: $xlarge-desktop) {
        left: 1095px;
    }
    @media (max-width: $large-desktop) {
        left: 995px;
    }
    @media (max-width: $tablet) {
        width: 198px;
        left: 495px;
        bottom: -190px;
    }
    @media (max-width: $mobile) {
        width: 178px;
        left: 180px;
    }
}
