@use 'breakpoints' as *;

img#glass-1 {
    position: absolute;
    top: 683px;
    left: 916px;
    width: 608px;
    z-index: 1;

    @media (max-width: $desktop) {
        top: 613px;
        left: 603px;
    }
    @media (max-width: $mobile) {
        top: 590px;
        left: 168px;
        width: 306px;
    }
}

img#glass-2 {
    position: absolute;
    top: 138px;
    left: 1432px;
    width: 365px;
    z-index: 3;

    @media (max-width: $large-desktop) {
        left: auto;
        right: -120px;
    }

    @media (max-width: $desktop) {
        top: 117px;
        left: 995px;
        right: auto;
    }

    @media (max-width: $mobile) {
        top: 163px;
        left: 500px;
        width: 152px;
    }

}

img#glass-3 {
    position: absolute;
    top: 45px;
    left: 800px;
    width: 283px;
    z-index: 1;

    @media (max-width: $desktop) {
        left: 633px;
    }

    @media (max-width: $desktop) {
        top: 28px;
        left: 587px;

    }

    @media (max-width: $mobile) {
        left: 90px;
        width: 169px;
    }
}

img#glass-4 {
    position: absolute;
    top: 904px;
    left: 320px;
    width: 138px;
    z-index: 1;

    @media (max-width: $desktop) {
        top: 822px;
        left: 186px;
    }

    @media (max-width: $mobile) {
        top: 780px;
        left: 10px;
        width: 100px;
    }

}

img#glass-5 {
    position: absolute;
    top: 896px;
    left: 1716px;
    width: 449px;
    z-index: 1;

    @media (max-width: $desktop) {
        top: 840px;
        left: 1125px;
        width: 409px;
    }

    @media (max-width: $mobile) {
        top: 867px;
        left: 250px;
        width: 202px;
    }
}

img#glass-6 {
    position: absolute;
    top: calc(100vh + 210px);
    left: -16px;
    width: 185px;
    z-index: 3;

    @media (max-width: $large-desktop) {
        top: calc(100vh + 110px);
        left: -16px;
        width: 185px;
    }

    @media (max-width: $desktop) {
        left: -100px;
        width: 174px;
    }

    @media (max-width: $tablet) {
        width: 124px;
        z-index: 1;
    }
}

img#glass-7 {
    position: absolute;
    bottom: -98px;
    left: 1400px;
    width: 298px;
    z-index: 3;

    @media (max-width: $large-desktop) {
        left: 1095px;
    }
    @media (max-width: $desktop) {
        left: 995px;
    }
    @media (max-width: $tablet) {
        width: 198px;
        left: 495px;
        bottom: -190px;
    }
    @media (max-width: $mobile) {
        width: 178px;
        left: 180px;
    }
}
